<%- include('./layout.html')%>
    <link rel="stylesheet" href="/static/css/index.css">
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <h1 class="nav">新闻首页</h1>
        
        <div class="main">
            <div class="handle-news">
                <a class="add-news" href="/submit">添加新闻</a>
            </div>
            <% if (list.length > 0) { %>
            <ul class="news-list">
                <% for(var i = 0; i< list.length; i++) { %>
                <li>
                    <!-- <a href="javascript:;"> -->
                    <a class="news-tit" href="/detail/<%= list[i].id %>">
                        <%= list[i].title %>
                    </a>
                    <div class="news-text"><%= list[i].text %></div>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <div class="no-data">暂无数据</div>
            <% } %>


        </div>
        <div class="total-num">总共<%= list.length %>条</div>

    </div>
</body>

</html>