* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

input, textarea, button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
}