.nav {
    background: #CC99CC;
    color: #333;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.main {
    flex: 1;
    background: #FF9966;
}

.handle-news {
    height: 60px;
    padding-left: 30px;
}
.add-news {
    font-size: 18px;
    line-height: 60px;
    left: 0;
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px 20px;
}
.add-news:hover {
    text-decoration: underline;
    transition: all 0.2s linear;
}

.news-list {
    padding: 10px 30px;
}
.news-list>li {
    padding: 15px 0;
}

.news-tit {
    text-decoration: underline;
    color: #66c;
    font-size: 26px;
}
.news-text {
    color: #330033;
    font-size: 20px;
}

.total-num {
    font-size: 24px;
    color: #336;
    padding: 20px;
}
